.produto {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.produto img {
  margin-bottom: 1rem;
  border-radius: 8px;
}

.titulo {
  color: var(--hover-color);
}

.preco {
  font-weight: 600;
  font-size: 1.8rem;
}

.preco, .descricao {
  color: var(--font-color)
}